@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-cascode {
	font-family: "Cascadia Code", sans-serif;
}

.bg-new-black-1 {
	color: #161716;
}

body {
	font-family: "Cascadia Code", sans-serif;
	color: white;
	background-color: black;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}
